<!DOCTYPE html>
<html ng-app="gameOfLife">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Game of life</title>
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>

  <body ng-controller="GameController as game">

    <h1>Game of life</h1>

    <div id="controls">
      <button ng-click="game.start()">start</button>
      <button ng-click="game.stop()">stop</button>
      <button ng-click="game.step()">step</button>
      <button ng-click="game.clear()">clear</button>
      <button ng-click="game.randomize()">randomize</button>
      <div>
        <div id="sliders">
          <div class="slider-wrapper">
            <label>matrix width<span class="current-val">{{game.width}}</span></label>
            <input type="range" min="6" max="100" ng-model="game.width" ng-change="game.updateSize()" >
          </div>
          <div class="slider-wrapper">
            <label>matrix height<span class="current-val">{{game.height}}</span></label>
            <input type="range" min="6" max="100" ng-model="game.height" ng-change="game.updateSize()" >
          </div>
          <div class="slider-wrapper">
            <label>interval<span class="current-val">{{game.interval}}ms</span></label>
            <input type="range" min="10" max="800" ng-model="game.interval" ng-change="game.updateSpeed()" >
          </div>
        </div>
      </div>
    </div>

    <table>
      <thead>
        <th>
        </th>
      </thead>
      <tbody>
        <tr ng-repeat="row in game.matrix track by $index">
          <td ng-repeat="item in row track by $index" ng-class="{'active': item===1}" ng-click="game.toggleItem($parent.$index, $index)">
          </td>
        </tr>
      </tbody>
    </table>

    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>
